@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title | Smart Farming</title>
    <link rel="icon" href="@Url.Content("~/Images/farming-and-gardening.svg")" />
    <!-- Font Icon -->
    @Styles.Render("~/bundles/logincss")
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                @RenderBody()
            </div>
        </section>
    </div>

</body>
</html>
