@{
    ViewBag.Title = "About Us";
    ViewBag.Image = "aboutus-banner.jpg";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section id="about-us" style="padding-bottom:90px">
    <div class="container py-4 px-4" style="background-color: #fff; margin-top:-40px; border-radius: .5em;">

        <div class="row align-items-center" style="margin: 0px;">

            <!-- About Us Content -->
            <div class="col-12 col-md-8">
                <div class="about-us-content mb-100">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <p>About us</p>
                        <h2><span>Let Us</span> Tell You Our Story</h2>
                        <img src="~/Images/decor.png" alt="">
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetu adipiscing elit. Etiam nunc elit, pretium atlanta urna veloci,
                        fermentum malesuda mina. Donec auctor nislec neque sagittis, sit amet dapibus pellentesque donal
                        feugiat. Nulla mollis magna non
                        sanaliquet, volutpat do zutum, ultrices consectetur, ultrices at purus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetu adipiscing elit. Etiam nunc elit, pretium atlanta urna veloci,
                        fermentum malesuda mina. Donec auctor nislec neque sagittis, sit amet dapibus pellentesque donal
                        feugiat. Nulla mollis magna non
                        sanaliquet, volutpat do zutum, ultrices consectetur, ultrices at purus. Lorem ipsum dolor, sit amet
                        consectetur adipisicing elit. Ut, perspiciatis! Amet laudantium quaerat aliquam ipsum ab voluptatem
                        sequi inventore, voluptate ipsa, qui suscipit. Ratione nostrum explicabo consequatur dolore, eos iure!
                        Soluta omnis, ipsam a aspernatur aperiam culpa deleniti tenetur dignissimos vel alias sed ea magni esse
                        non maiores nisi impedit.
                    </p>
                </div>
            </div>

            <!-- Famie Video Play -->
            <div class="col-12 col-md-4 about-us-img">
                <img src="~/Images/g2.jpg" height="300px" width="300px" style="border-radius: 50%; margin: 0px 20px;" />
            </div>

        </div>
        <div class="row d-flex flex-row my-4 mx-3">
            <!-- Single Benefits Area -->
            <div class="flex-fill">
                <img src="~/Images/digger.png" alt="" style="object-fit: contain;" />
                <h5>Best Services</h5>
            </div>

            <!-- Single Benefits Area -->
            <div class="flex-fill">
                <img src="~/Images/windmill.png" alt="" style="object-fit: contain;" />
                <h5>Farm Experiences</h5>
            </div>

            <!-- Single Benefits Area -->
            <div class="flex-fill">
                <img src="~/Images/cereals.png" alt="" style="object-fit: contain;" />
                <h5>100% Natural</h5>
            </div>

            <!-- Single Benefits Area -->
            <div class="flex-fill">
                <img src="~/Images/tractor.png" alt="" style="object-fit: contain;" />
                <h5>Farm Equipment</h5>
            </div>

            <!-- Single Benefits Area -->
            <div class="flex-fill">
                <img src="~/Images/sunrise.png" alt="" style="object-fit: contain;" />
                <h5>Organic food</h5>
            </div>
        </div>
    </div>
</section>

